/*
 * Styles specifically for the Open Table Widget widget in the WP admin interface
 * Is only loaded on widgets.php
 */

.clearfix {
	*zoom: 1;
}

.clearfix:before, .clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}

.clearfix:after {
	clear: both;
}

.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.new-window {
	background: url('../images/new-window-icon.png') no-repeat right center rgba(0, 0, 0, 0);
	padding-right: 13px;
	margin-right: 3px;
}

.otw-small-descption {
	font-size: 11px;
	margin-top: 4px;
	display: block;
}

/*----------------------------------------
Toggle Sections
-------------------------------------------*/

.otw-widget-toggler {
	padding: 10px;
	margin: 0 0 10px;
	cursor: pointer;
	background-color: #EBEBEB;
	border: 1px solid #E5E5E5;
	display: block;
}

.otw-widget-toggler span {
	background: url('../images/arrows.png') no-repeat 60% -107px;
	float: right;
	height: 12px;
	display: inline-block;
	width: 12px;
}

.otw-widget-toggler.toggled span {
	background-position: 60% 1px;
}

.toggle-item {
	display: none;
}

.toggle-item p {
	padding: 0;
	margin: 0 0 10px;
}

.toggle-item.toggled {
	display: block;
}

.widget-api-option {
	line-height: 22px;
}

.widget-api-option input {
}

.toggle-item select {
	background: #FFF;
}

.otw-method-span:hover, .search-api-option:hover, .business-api-option:hover {
	cursor: pointer;
}

.otw-method-label {
	padding-left: 4px;
}

.ywp-radio-label {
	margin: 0 0 5px;
	display: block;
}

.otw-usage-description {
	font-size: 11px;
	font-style: italic;
}

.otw-usage-description span {
	display: block;
	font-weight: bold;
	font-style: normal;
}

.pro-only {
	padding: 10px;
	border-radius: 8px;
	color: #C09853;
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	margin: 0 0 10px;
}

.pro-only.green {
	color: #3c763d;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
}

.pro-only.green a {
	color: #3c763d;
}

.pro-only-p, .widget .widget-inside p.pro-only-p {
	padding: 0;
	margin: 0;
}

.pro-only-p > a {
	display: inline-block;
	margin: 0 0 10px;
	font-weight: bold;
	color: #C09853;
	cursor: pointer;
}

.pro-upgrade-bottom {
	margin: 0 0 20px;
}

/*----------------------------------------
Tool Tips
-------------------------------------------*/

.tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	visibility: visible;
	padding: 5px;
	font-size: 11px;
	opacity: 0;
	filter: alpha(opacity=0);
}

.tooltip.in {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.tooltip.top {
	margin-top: -3px;
}

.tooltip.right {
	margin-left: 3px;
}

.tooltip.bottom {
	margin-top: 3px;
}

.tooltip.left {
	margin-left: -3px;
}

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #000000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000000;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000000;
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000000;
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000000;
}

/*----------------------------------------
Tipsy
-------------------------------------------*/

.tooltip-info {
	cursor: help;
	margin: -3px 0 0 5px;
	position: relative;
	top: 3px;
}

.tipsy {
	font-size: 10px;
	position: absolute;
	padding: 5px;
	z-index: 100000;
}

.tipsy-inner {
	background-color: #000;
	color: #FFF;
	max-width: 200px;
	padding: 5px 8px 4px 8px;
	text-align: center;
}

/* Rounded corners */

.tipsy-inner {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

.tipsy-arrow {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border: 5px dashed #000;
}

/* Rules to colour arrows */

.tipsy-arrow-n {
	border-bottom-color: #000;
}

.tipsy-arrow-s {
	border-top-color: #000;
}

.tipsy-arrow-e {
	border-left-color: #000;
}

.tipsy-arrow-w {
	border-right-color: #000;
}

.tipsy-n .tipsy-arrow {
	top: 0px;
	left: 50%;
	margin-left: -5px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-nw .tipsy-arrow {
	top: 0;
	left: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-ne .tipsy-arrow {
	top: 0;
	right: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-s .tipsy-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-sw .tipsy-arrow {
	bottom: 0;
	left: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-se .tipsy-arrow {
	bottom: 0;
	right: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-e .tipsy-arrow {
	right: 0;
	top: 50%;
	margin-top: -5px;
	border-left-style: solid;
	border-right: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.tipsy-w .tipsy-arrow {
	left: 0;
	top: 50%;
	margin-top: -5px;
	border-right-style: solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

/* Powered by */

.powered-by {
	overflow: hidden;
	text-align: center;
}

.powered-by p {
	display: inline;
	font-style: italic;
	font-size: 12px;
	position: relative;
	top: -12px;
	margin-right: 8px;
}

.powered-by img {
	display:inline;
}